button {
    cursor: pointer;
    background-color: hsl(0deg 0% 18%);
    color: hsl(0deg 0% 91%);
    border: 1px solid hsl(0deg 0% 25%);
    margin: 2px 3px;
    height: 80PX;
    width: 80px;
    font-size: 2rem;
    border-radius: 10px;
    transform: scale(1);
    transition: all .5s;
}

button:hover {
    background-color: hsl(212deg 100% 55%);
    transform: scale(1.05);
}